<h1>Astronauts</h1>

<% @astronauts.each do |astr| %>
  <div class"astronaut_$">
  <ul>
    <li>Name: <%= astronaut.name %></li>
    <li>Age: <%= astronaut.age %></li>
    <li>Job: <%= astronaut.job %></li>
  </ul>
  <% @astronaut.missions.each do |mision| %>
    <li>Title: <%</li>
  <% end %>
  </div>
<% end %>
